<ul class="list-group">
    {% for project in site.data.projects %}
        <li>
        <a href="{{ project.url }}" class="list-group-item{% if page.active == project.name %} active{% endif %}">
            <h4 class="list-group-item-heading">{{ project.name }}</h4>
            <p class="list-group-item-text">{{ project.shortdesc }}</p>
        </a>
        </li>
    {% endfor %}
</ul>
