<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Outils Physiques Pour Linux</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li{% if page.active == 'home' %} class="active"{% endif %}><a href="/">Accueil</a></li>
                <li{% if page.active == 'news' %} class="active"{% endif %}><a href="/news/">News</a></li>
                <li{% if page.active == 'about' %} class="active"{% endif %}><a href="/a-propos/">À propos</a></li>
                <li{% if page.active == 'cgu' %} class="active"{% endif %}><a href="/cgu/">CGU</a></li>
            </ul>
        </div>
    </div>
</nav>
