---
layout: null
active: home
---
<!DOCTYPE html>
<html lang="fr">

    {% include head.html %}

    <body>

        {% include navbar.html %}

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1>Outils Physiques Pour Linux</h1>
                        <p>Le site est en reconstruction.</p>


 <p>Vous pouvez toujours utiliser les serveurs subversion :</p>


 <p>svn co svn://svn.tuxfamily.org/svnroot/oppl/pymecavideo</p>

 <p>svn co svn://svn.tuxfamily.org/svnroot/oppl/oppl/livespectra</p>

 <p>svn co svn://svn.tuxfamily.org/svnroot/oppl/oppl/pyacidobasic</p>

 <p>svn co svn://svn.tuxfamily.org/svnroot/oppl/oppl/pyfocus</p>

 <p>svn co svn://svn.tuxfamily.org/svnroot/oppl/oppl/pylewis

 <p>svn co svn://svn.tuxfamily.org/svnroot/oppl/oppl/pymecavideo

 <p>svn co svn://svn.tuxfamily.org/svnroot/oppl/oppl/pysatellites</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% assign current = 1 %}
                {% for project in site.data.projects %}
                    <div class="col-md-4 text-center">
                        <a href="{{ project.url }}">
                            <h3>{{ project.name }}</h3>
                        </a>
                        <p>{{ project.desc }}</p>
                    </div>
                    {% if current == 3 %}
                        {% assign current = 1 %}
                        </div><div class="row">
                    {% else %}
                        {% assign current = current| plus:1 %}
                    {% endif %}
                {% endfor %}
            </div>
            <hr/>
        </div>

        {% include footer.html %}

    </body>
</html>

