---
layout: page
title: News
active: news
permalink: /news/
---

{% for post in site.posts %}
<h2>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
    </a>
    <small>{{ post.date | date: "%b %-d, %Y" }}</small>
</h2>
{% endfor %}


<a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
