<!DOCTYPE html>
<html lang="fr">

    {% include head.html %}

    <body>

        {% include navbar.html %}

        <div class="container">
            <div class="row">
                <div class="col-md-3">

                    {% include menu.html %}

                </div>
                <div class="col-md-9">

                    <h1>{{ page.title }}</h1>

                    {{ content }}

                </div>
            </div>
        </div>

        {% include footer.html %}

    </body>
</html>

