<!DOCTYPE html>
<html lang="fr">

    {% include head.html %}

    <body>

        {% include navbar.html %}

        <div class="container">
            <div class="row">
                <div class="col-md-3">

                    {% include menu.html %}

                </div>
                <div class="col-md-9">

                    <h1>{{ page.title }}</h1>
                    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
                    {{ content }}

                </div>
            </div>
        </div>

        {% include footer.html %}

    </body>
</html>
