html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
  padding-top: 90px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ECF0F1;
}
.container .text-muted {
  margin: 15px 0;
  color: #2C3E50;
  text-align: center;
}

.list-group li {
    list-style-type: none;
}